.leaderboard {
  margin: 20px;
  width: 600px;
  padding: 10px;
  // background-color: rgba(255,255,255,.2);
  border-radius: 5px;
  height: 600px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .pilot-list{

    .pilot {
      padding: 10px 5px 10px 5px;
      font-family: 'Contrail One', cursive;
      font-size: 30px;
      border-bottom: 1px solid rgba(255,255,255,.5);

      .icon {
        width: 40px;
        height: 40px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('http://i.imgur.com/cak5ard.gif');
      }

      .onheat {
        color: #333;
        padding: 4px 8px 4px 4px;
        font-size: 18px;
        border-radius: 5px;
        background-color: #fff;
        vertical-align: middle;
        margin: -5px 1px 0 11px;

        & > div {
          margin-left: 10px;
        }

        .emoji {
          font-size: 16px;
        }
      }

      // &[class^="pilot-"] {
      // }

      &.top-3 {
        padding: 9px 7px 4px;
        font-size: 40px;
        margin-bottom: 10px;
        border-radius:: 3px;
        border: none;
      }

      &.place-0 {
        background-color: #FFD500;
        .icon {
          background-image: url('https://i.imgur.com/mkJYxDF.gif');
        }
      }

      &.place-1 {
        background-color: #ADB4C9;
        .icon {
          background-image: url('http://i.imgur.com/h9wLS7n.gif');
        }

      }

      &.place-2 {
        background-color: #955B2D;
        .icon {
          background-image: url('http://i.imgur.com/TMRsfJH.gif');
        }
      }

      &.terror {
        background-color: rgba(0,0,0,.8);
        color: #FF0007;
        .icon {
          background-image: url('http://i.imgur.com/3aKskKD.gif');
        }
      }

      & > div {
        display: inline-block;
      }

      .name {
        margin-left: 5px;
      }

      .time{
        float: right;
        margin-top: 10px;
      }

      .icon img {
        width: 30px;
        height: 30px;
      }

    }
  }

}
